*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    
    display: grid;
    place-content: center;
    gap: 1rem;

    background: linear-gradient(to bottom, cornflowerblue, #223861);

    position: relative;
}

dialog[open]::backdrop {
    background: linear-gradient(to bottom, #fffffff3, cornflowerblue);
    backdrop-filter: blur(10px);
}
dialog[open] {
    margin: auto;
    
    width: 350px;
    aspect-ratio: 16 / 9;

    display: grid;
    place-content: center;
    gap: 0.5rem;

    border: unset;
    border-radius: 5px;
}